Repository Microcervejaria/Microcervejaria-Alexa, pull requests merged in 2020-11, with the labels that each got.

#45 intent/adicionarToken
  skill-package/interactionModels/custom/pt-BR.json
Labels: Intent

#43 Handler/iniciar limpeza
  lambda/lambda_function.py
  skill-package/interactionModels/custom/pt-BR.json
Labels: API, Função Lambda, Intent

#44 adicionando utterances para intent de parar producao
  lambda/lambda_function.py
  skill-package/interactionModels/custom/pt-BR.json
Labels: Intent, Refatoração, bug

#46 Handler/visualizar processo
  lambda/lambda_function.py
  skill-package/interactionModels/custom/pt-BR.json
Labels: Função Lambda, Intent

#48 Handler/temperatura atual
  lambda/lambda_function.py
  skill-package/interactionModels/custom/pt-BR.json
Labels: Função Lambda, Intent

#49 Handler/visualizar processo atual
  lambda/lambda_function.py
  skill-package/interactionModels/custom/pt-BR.json
Labels: Função Lambda, Intent

#51 Handler/ler tempo restante
  lambda/lambda_function.py
  skill-package/interactionModels/custom/pt-BR.json
Labels: API, Função Lambda, Intent

#50 Cria Handler para Adicionar Token
  lambda/lambda_function.py
  lambda/requirements.txt
  skill-package/interactionModels/custom/pt-BR.json
Labels: Função Lambda, Intent
